.card-header {
    background-color: black;
    color: white;
  }
  
  .card-body {
    background-color: #ffffff;
  }
  
  .btn-primary {
    background-color: black;
    border-color: white;
  }
  
  textarea.form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
/* Tabel styling */
.train-info-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.train-info-table th, .train-info-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.train-info-table th {
  background-color: #f4f4f4;
  font-weight: bold;
  text-transform: uppercase;
}

.train-info-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.train-info-table tr:hover {
  background-color: #f1f1f1;
}
