<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-1">
            <!-- Post Detail Card -->
            <div class="card">
                <div class="card-header text-white">
                    <h3 class="card-title">Post Details</h3>
                    <button class="btn text-white" *ngIf="post?.owner?._id == this.authService.getCurrentUserId() && post?.owner?._id != null" (click)="deletePost(post!._id)">Verwijderen</button>
                </div>
                <div class="card-body">
                    <div *ngIf="post">
                        <!-- Displaying Image -->
                        <img
                            *ngIf="post.picture"
                            [src]="post.picture"
                            class="img-fluid mb-3"
                            alt="Post Afbeelding"
                        />
  
                        <!-- Post Description -->
                        <h4 class="mb-3">{{ post.description }}</h4>
  
                        <ul class="list-group list-group-flush">
                            <!-- Created Date -->
                            <li class="list-group-item">
                                <strong>Aangemaakt op:</strong>
                                {{ post.createdAt | date : 'medium' }}
                            </li>
  
                            <!-- Updated Date -->
                            <li class="list-group-item">
                                <strong>Bijgewerkt op:</strong>
                                {{ post.updatedAt | date : 'medium' }}
                            </li>
  
                            <!-- Train ID -->
                            <li class="list-group-item">
                                <strong>Trein ID:</strong> {{ post.train }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
  
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-white">
                    <h3 class="card-title">Trein Details</h3>
                </div>
                <div class="card-body">
                    <table class="train-info-table">
                        <tbody>
                            <tr>
                                <td><strong>Type:</strong></td>
                                <td>{{ train?.sort }}</td>
                            </tr>
                            <tr>
                                <td><strong>Naam:</strong></td>
                                <td>{{ train?.name }}</td>
                            </tr>
                            <tr>
                                <td><strong>Operator:</strong></td>
                                <td>{{ train?.operator }}</td>
                            </tr>
                            <tr>
                                <td><strong>Model:</strong></td>
                                <td>{{ train?.model }}</td>
                            </tr>
                            <tr>
                                <td><strong>Capaciteit:</strong></td>
                                <td>{{ train?.capacity }}</td>
                            </tr>
                            <tr>
                                <td><strong>Aantal Wagons:</strong></td>
                                <td>{{ train?.numberOfWagons }}</td>
                            </tr>
                            <tr>
                                <td><strong>Maximale Snelheid:</strong></td>
                                <td>{{ train?.maxSpeed }}</td>
                            </tr>
                            <tr>
                                <td><strong>Aandrijving:</strong></td>
                                <td>{{ train?.propulsion }}</td>
                            </tr>
                            <tr>
                                <td><strong>Lengte:</strong></td>
                                <td>{{ train?.length }}</td>
                            </tr>
                            <tr>
                                <td><strong>Productiejaar:</strong></td>
                                <td>{{ train?.manufactureYear }}</td>
                            </tr>
                            <tr>
                                <td><strong>Fabrikant:</strong></td>
                                <td>{{ train?.manufacturer }}</td>
                            </tr>
                            <tr>
                                <td><strong>Gewicht:</strong></td>
                                <td>{{ train?.weight }}</td>
                            </tr>
                            <tr>
                                <td><strong>Energieverbruik:</strong></td>
                                <td>{{ train?.energyConsumption }}</td>
                            </tr>
                            <tr>
                                <td><strong>Faciliteiten:</strong></td>
                                <td>{{ train?.facilities?.join(', ') }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
  
            <!-- Comments Section -->
            <div class="card mt-3">
                <div class="card-header text-white">
                    <h3 class="card-title">Reacties</h3>
                </div>
                <div *ngIf="post?.isCommentable" class="card-body">
                    <!-- List of Comments -->
                    <ul class="list-group">
                        <li *ngFor="let comment of comments" class="list-group-item">
                            {{ comment.content }}
                            <small class="text-muted float-end">{{ comment.createdAt | date: 'short' }}</small>
                        </li>
                    </ul>
  
                    <!-- Add New Comment -->
                    <div class="mt-3">
                        <label for="newComment" class="form-label">Voeg een Reactie toe</label>
  
                        <!-- FormGroup voor comment -->
                        <form [formGroup]="newCommentForm" (ngSubmit)="addComment()">
                            <textarea id="newComment" class="form-control" rows="3" formControlName="comment" placeholder="Schrijf hier je reactie..."></textarea>
  
                            <button type="submit" class="btn btn-primary mt-2" [disabled]="newCommentForm.invalid">Verzenden</button>
                        </form>
                    </div>
                </div>
                <div *ngIf="post?.isCommentable == false" class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            Reacties staan uit.
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
  </div>
  