<nav class="navbar">
    <ul class="navbar-list">
        <li class="navbar-item">
            <a routerLink="/dashboard" class="navbar-link">Home</a>
        </li>
        <li class="navbar-item">
            <a routerLink="/user" class="navbar-link">Gebruikers</a>
        </li>
        <li class="navbar-item">
            <a routerLink="/train" class="navbar-link">Treinen</a>
        </li>
        <li class="navbar-item">
            <a routerLink="/about" class="navbar-link">Over</a>
        </li>
        <li class="navbar-item">
            <a routerLink="/register" class="navbar-link">Registreren</a>
        </li>
        <li class="navbar-item">
            <a routerLink="/login" class="navbar-link">Inloggen</a>
        </li>
    </ul>
</nav>
