<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Over de Applicatie</title>
  </head>
  <body>
    <section>
      <h2>Naam: Bart Sterrenburg, Studentnummer: 2202815</h2>
    </section>
    <section>
      <h2>Wat is deze applicatie?</h2>
      <p>
        De casus beschrijft een webapplicatie die is ontworpen om gebruikers inzicht 
        te geven in treinen en gerelateerde content. Het systeem biedt een platform 
        waarop gebruikers treinen kunnen bekijken, nieuwe treinen kunnen toevoegen, 
        en interactie kunnen aangaan door posts en reacties te plaatsen. De app bevat 
        zowel gebruikers- als adminfunctionaliteiten, met nadruk op het beheer van 
        treinen, posts en gebruikers.
        <br /><br />
        Deze applicatie is op dit moment nog in ontwikkeling dus er bestaat een
        kans dat de huidige functionaliteit nog niet werkt en/of later nog zal
        gaan veranderen.
      </p>
    </section>

    <section class="features">
      <h2>Belangrijkste functies</h2>
      <ul>
        <li>
          <strong>Treinen:</strong> 
          Gebruikers kunnen een lijst met beschikbare treinen bekijken 
          en doorklikken naar gedetailleerde informatie van individuele 
          treinen. Het toevoegen van nieuwe treinen is mogelijk, maar vereist een ingelogde status.
        </li>
        <li>
          <strong>Posts en Comments:</strong>
          Gebruikers kunnen posts koppelen aan treinen en reacties 
          achterlaten bij posts. De inhoud wordt permanent 
          opgeslagen en gekoppeld aan de juiste entiteit.
        </li>
        <li>
          <strong>Gebruikersbeheer:</strong>
          Beheerders kunnen een lijst van gebruikers inzien, 
          details bekijken, en waar nodig gebruikersinhoud 
          beheren door posts, comments of treinen te bewerken of verwijderen.
        </li>
        <li>
          <strong>Authenticatie:</strong>
          Gebruikers moeten zich registreren, inloggen en uitloggen 
          om toegang te krijgen tot bepaalde functies, 
          waaronder het toevoegen van treinen, posts en reacties.
        </li>
        <li>
          <strong>Overzicht en Navigatie:</strong>
          Voor elk treintype en bijbehorende inhoud (posts, reacties) 
          zijn er detailpagina’s beschikbaar. Een about-pagina 
          voorziet gebruikers van informatie over het systeem.
        </li>
      </ul>
    </section>

    <section>
      <h2>Waarom deze applicatie?</h2>
      <p>
        We willen een gebruiksvriendelijk platform bieden waar treinliefhebbers 
        en andere geïnteresseerden treinen en gerelateerde inhoud kunnen 
        bekijken en delen, terwijl beheerders de mogelijkheid hebben 
        om de kwaliteit en relevantie van de inhoud te waarborgen.
      </p>
    </section>

    <section>
      <h2>Doelgroep</h2>
      <ul>
        <li>
          <strong>Algemene gebruikers (treinliefhebbers):</strong>
          Kunnen treinen, posts en reacties bekijken, nieuwe 
          inhoud toevoegen en interactie aangaan met andere gebruikers.
        </li>
        <li>
          <strong>Beheerders:</strong>
          Hebben aanvullende mogelijkheden om gebruikers en content te beheren, 
          inclusief het verwijderen en bewerken van treinen, posts en reacties.
        </li>
      </ul>

    </section>

    <section>
      <h2>Datamodel</h2>
      <img src="{{erd}}" alt="ERD Diagram" />
    </section>
  </body>
</html>
