<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Over de Applicatie</title>
  </head>
  <body>
    <section>
      <h2>Wat is deze applicatie?</h2>
      <p>
        Onze applicatie biedt een overzicht van treinen, zodat gebruikers
        gemakkelijk treinen kunnen uploaden, bewerken en met anderen kunnen
        delen. Of je nu een treinliefhebber bent of gewoon op zoek bent naar
        specifieke treinen, deze applicatie biedt alles wat je nodig hebt om
        je treinervaring te verbeteren.
        <br /><br />
        Deze applicatie is op dit moment nog in ontwikkeling dus er bestaat een
        kans dat de huidige functionaliteit nog niet werkt en/of later nog zal
        gaan veranderen.
      </p>
    </section>

    <section class="features">
      <h2>Belangrijkste functies</h2>
      <ul>
        <li>
          <strong>Uploaden van treinen:</strong> Gebruikers kunnen hun favoriete
          treinen delen.
        </li>
        <li>
          <strong>Bewerken van gedeelde treinen:</strong> Het is mogelijk om
          gedeelde treinen aan te passen en up-to-date te houden.
        </li>
        <li>
          <strong>Reageren op gedeelde treinen:</strong> Gebruikers kunnen hun
          mening geven over treinen die door anderen zijn gedeeld.
        </li>
        <li>
          <strong>Zoeken en filteren:</strong> Een krachtige zoekfunctie om snel
          gedeelde treinen te vinden.
        </li>
      </ul>
    </section>

    <section>
      <h2>Waarom deze applicatie?</h2>
      <p>
        Deze applicatie is ontworpen om treinliefhebbers en reizigers een
        platform te bieden om hun kennis te delen en elkaar te helpen bij het
        vinden van de beste treinen. Of je nu een expert bent in het
        treinverkeer of een nieuwsgierige reiziger, onze app biedt een plek voor
        iedereen om hun ervaringen te delen en van anderen te leren.
      </p>
    </section>

    <section>
      <h2>Neem contact met ons op</h2>
      <p>
        Heb je vragen of suggesties? Neem contact met ons op via het
        onderstaande formulier of stuur een e-mail naar
        <a>support&#64;train-fandom.nl</a>.
      </p>
    </section>

    <section>
      <h2>Datamodel</h2>
      <img src="{{erd}}" alt="ERD Diagram" />
    </section>
  </body>
</html>
