<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Train Website</title>
  </head>
  <body>
    <div class="single-image">
      <img
        src="{{welcomeImage}}"
        alt="Train Image 1"
      />
    </div>

    <div class="container box">
      <h3>Ontdek wat wij aanbieden</h3>
      <div class="row">
        <div class="col-12 row-item">
          <div class="text">
            <h5>Een overzicht van treinen</h5>
            <p>
              Wij bieden je een overzicht van de meest actuele treinen
            </p>
          </div>
        </div>
        <div class="col-12 row-item">
          <div class="text">
            <h5>Plaatsen van posts</h5>
            <p>
              Op dit platform kun je je mooiste treinmomenten/foto's delen door ze te posten
            </p>
          </div>
        </div>
        <div class="col-12 row-item">
          <div class="text">
            <h5>Reageren op anderen</h5>
            <p>Je kunt door middel van opmerkingen reageren op de posts van anderen</p>
          </div>
        </div>
        <div class="col-12 row-item">
          <div class="text">
            <h5>Station check</h5>
            <p>Op dit platform kun je controleren of een bepaalde trein langs een bepaald station rijdt.</p>
          </div>
        </div>
        <div class="col-12 row-item">
          <div class="text">
            <h5>Trein check</h5>
            <p>
              Op dit platform kun je inzien door welke treinen een station wordt bezocht.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
